{% extends "layout.html" %}

{% block content %}

<h2>About Facebook Data Exporter</h2>

<p>The original motiviation for this project was to preserve notes I've
written about my kids.  Facebook is a great platform, but I don't know
if I will continue to have access to the notes I wrote last year in
ten years time.  In general, as we put more information online it
becomes more important to have some sort of backup mechanism to ensure
that the data is not bound exclusively to a single service
provider.</p>

<h2>About the author</h2>

<p>I'm a thirty-something geek dad with two kids.  I dabble in all sorts
of things, including web services development (largely in Python).</p>

<h2>FAQ</h2>

<h3>Does Facebook Data Exporter store my data?</h3>

<p>Facebook Data Exporter does not store your notes, status messages,
or links.  Your content is simply retrieved from Facebook and returned
to you in the format of your choice whenever you click one of the
download links.</p>

{% endblock %}

