{% extends "layout.html" %}

{% block content %}
<p>This application lets you export notes, status messages, and links from
Facebook.</p>

<h2>Author</h2>

<p><a href="http://facebook.com/larsks">Lars Kellogg-Stedman</a></p>

<h2>Limitations</h2>

<p>Due to limitations of the Facebook platform you will not be able to access data from before
July 2008.</p>

<p>This project is hosted on Google App Engine.  Occasionally, possibly due to
strict timeouts, an attempt to export your data will fail with a "DownloadError" 
message.  In general the error will go away if you reload the page.</p>

<h2>Export</h2>

{% if message %}
<fb:error>
	<fb:message>Export Error</fb:message>
	{{message}}
</fb:error>
{% endif %}

<form action="prepare" method="post">
	<input type="hidden" name="x_sig_user" value="{{fb.uid}}"/>
	<input type="hidden" name="x_sig_session_key" value="{{fb.session_key}}"/>

	<h3>What would you like to export?</h3>

	<p>Select which items you would like to export from Facebook.</p>

	<ul>
		<li><input type="checkbox" name="export" value="notes"
		{% if user.selected|contains:"notes" %}checked="1"{% endif %}/> Export notes</li>

		<li><input type="checkbox" name="export" value="status"
		{% if user.selected|contains:"status" %}checked="1"{% endif %}/> Export status</li>

		<li><input type="checkbox" name="export" value="links"
		{% if user.selected|contains:"links" %}checked="1"{% endif %}/> Export links</li>
	</ul>

	</h3>Options</h3>

	<ul>
		<li><p><input type="checkbox" name="dedupe"
		{% if user.options|contains:"dedupe" %}checked="1"{% endif %}/> Filter duplicates by title</p>
		<p>When you edit items in Facebook you may end up with both the old and
		new version in your export.  Selecting this option will suppress duplicates
		by filtering out items if they are of the same type and have the same
		title as the previous item.</p>
		</li>
	</ul>

	<p><input type="submit" name="submit" value="Export"/></p>
</form>

{% endblock %}

