<h1>Facebook Exporter</h1>

<p><a href="{{config.canvas_url}}">Return to main screen</a></p>

<p>The following links provide access to your data in various formats:</p>

<ul>
{% for format in formats %}
<li><a
	href="{{config.base_url}}/export/{{fb.uid}}/{{fb.session_key}}/{{format.id}}/facebook_data.{{format.extension}}"
	>{{format.name}}</a></li>
{% endfor %}
</ul>

<p>Click on a link to display it in your browser, or use your browser to save
the link to disk (e.g., right-click on the link and select, "Save Link As..."
in Firefox).</p>

<hr/>
<p>If you encounter any problems with this application, please report them
on <a href="http://github.com/larsks/fb-export-notes/issues">the project site</a>.</p>

